@model IEnumerable<PlayDate.Models.ParkListItem>

@{
    ViewBag.Title = "Index";
}

<h2>Park Homepage</h2>

<p>
    @Html.ActionLink("Create New Park", "Create", new { @class = "nav-link active" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ParkId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ParkName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ParkAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AmenityId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ParkId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ParkName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ParkAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AmenityId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ParkId }) |
            @Html.ActionLink("Details", "Details", new { id = item.ParkId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ParkId }) |
        </td>
    </tr>
}

</table>
