@model IEnumerable<PlayDate.Models.ParkListItem>

@{
    ViewBag.Title = "Index";
}

<h2>Park Homepage</h2>

<div class="alert alert-success fade in" role="alert">
    @ViewData["SaveResult"]
    <button type="button" class="close" data-dismiss="alert">
        <span>&times;</span>
    </button>
</div>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">
                @Html.DisplayNameFor(model => model.ParkName)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.ParkAddress)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.AmenityId)
            </th>
            @*<th scope="col">
                @Html.DisplayNameFor(model => model.Ratings)
            </th>*@
        </tr>
    </thead>

    @foreach (var item in Model)
    {
        <tr>

            <td onclick="location.href = '@Url.Action("Details", "Park",  new {id=item.ParkId})'">
                @Html.DisplayFor(modelItem => item.ParkName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ParkAddress)
            </td>
            <td>
                @Html.DisplayFor(model => item.AmenityId)
            </td>
            @*<td>
                @Html.DisplayFor(model => item.Ratings)
            </td>*@
            <td>
                <button type="button" class="btn btn-warning"
                        onclick="location.href='@Url.Action("Edit", "Park", new { id=item.ParkId })'">
                    Edit
                </button>
                <button type="button" class="btn btn-danger"
                        onclick="location.href ='@Url.Action("Delete", "Park", new { id = item.ParkId })'">
                    Delete
                </button>
            </td>
        </tr>
    }
</table>
<p>
    <button type="button" class="btn btn-success"
    onclick="location.href='@Url.Action("Create", "Park")'">
        Create New Park
    </button>
</p>
