@model IEnumerable<PlayDate.Models.AmenityListItem>

@{
    ViewBag.Title = "Index";
}

<h2>Amenity Homepage</h2>

<p>
    @Html.ActionLink("Create New Amenity", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AmenityType)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AmenityType)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AmenityId }) |
            @Html.ActionLink("Details", "Details", new { id=item.AmenityId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AmenityId })
        </td>
    </tr>
}

</table>
