@model IEnumerable<PlayDate.Models.AmenityListItem>

@{
    ViewBag.Title = "Index";
}

<h2>Amenity Homepage</h2>

<div class="alert alert-success fade in" role="alert">
    @ViewData["SaveResult"]
    <button type="button" class="close" data-dismiss="alert">
        <span>&times;</span>
    </button>
</div>

<table class="table table-hover">
    <tr>
        <th scope="col">
            @Html.DisplayNameFor(model => model.AmenityType)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td onclick="location.href = '@Url.Action("Details", "Amenity",  new {id=item.AmenityId})'">
                @Html.DisplayFor(modelItem => item.AmenityType)
            </td>
        <td>
            <button type="button" class="btn btn-warning"
                     onclick="location.href='@Url.Action("Edit", "Amenity", new { id=item.AmenityId })'">
                Edit
            </button>
            <button type="button" class="btn btn-danger"
                    onclick="location.href ='@Url.Action("Delete", "Amenity", new { id = item.AmenityId })'">
                Delete
            </button>
        </td>
    </tr>
}

</table>
<p>
    <button type="button" class="btn btn-success"
            onclick="location.href='@Url.Action("Create", "Amenity")'">
        Create New Amenity
    </button>
</p>